<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <script src="https://kit.fontawesome.com/82937f0358.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Mercado Liebre | Home </title>
</head>
    <section class="header__home">
        <!-- img de logo -->
        <div class="contenedor_logo_barra_cuotas">
            <div class="header__home__logo">
                <img src="/images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre">
                <!-- Contenedor de barra de búsqueda + botón -->
                <nav class="contenedor__barra-busqueda">
                    <input type="text" class="barra_busqueda" placeholder="Buscar Productos, marcas...">
                    <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                </nav>
            </div>
            <!-- Header y texto de cuotas -->
            <nav class="header__txt__cuotas">
                <i class="fa-solid fa-hand-holding-dollar"></i> Compra en cuotas y sin tarjeta de crédito
            </nav>
        </div>
        <!-- Header Lista 1 y 2 -->
        <nav class="contenedor__listas1y2">
            <nav class="header__lista1">
                <ul>
                    <li><a href="#Ofertas">Ofertas</a></li>
                    <li><a href="#Tiendas_Oficiales">Tiendas Oficiales</a></li>
                    <li><a href="#Vender">Vender</a></li>
                    <li><a href="#Ayuda">Ayuda</a></li>
                </ul>
            </nav>
            <nav class="header__lista2">
                <ul>
                    <li><a href="/register">Crea Tu Cuenta</a> <i class="fa-regular fa-address-card" style="color: #03264c;"></i></li>
                    <li><a href="/login">Ingresa</a><i class="fa-solid fa-arrow-right-to-bracket fa-beat-fade" style="color:#03264c;"></i></li>
                    <li><a href="#Mis_compras">Mis compras</a><i class="fa-solid fa-basket-shopping" style="color: #03264c;"></i></li>
                </ul>
            </nav>
        </nav>

        <!-- MENÚ HAMBURGUESA -->
        <div class="menu__hamburguesa"><i class="fas fa-bars"></i></div>
    </section>
    <!-- BANNER DEL HOME - MAIN - NAV - IMG -->
    <main class="main__home">
        <nav class="banner__home">
            <img src="/images/img-home-banner.jpg" alt="Banner Home">
        </nav>

        <h2>Basado en tu última visita</h2>
        <!-- PRODUCTOS MAINNAV -->
        <nav class="productos__visita">
            <!-- CONTENEDOR PRODUCTOS -->
            <div class="contenedor__productos__visita1">
                <!-- ARTICLE CAFETERA -->
                <article class="article__productos">
                    <h3>Cafetera Moulinex</h3>
                    <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera">
                    <div class="Informacion__producto">
                        <!-- P DE DESCUENTO Y PRECIO CON SUS CLASES -->
                        <p class="precio">$6.770</p>
                        <p class="descuento">40% Off</p>
                        <!-- CAMIÓN -->
                        <i class="fa-solid fa-truck-fast animate-truck" style="color: #39b54a"></i>
                    </div>
                </article>
                <!-- ARTICLE MACKBOOK -->
                <article class="article__productos">
                    <h3>Macbook Pro 2019</h3>
                    <img src="/images/img-macbook-pro-2019.jpg" alt="Macbook">
                    <div class="Informacion__producto">
                        <!-- P DE DESCUENTO Y PRECIO CON SUS CLASES -->
                        <p class="precio">$230.000</p>
                        <p class="descuento">20% Off</p>
                        <!-- CAMIÓN -->
                        <i class="fa-solid fa-truck-fast animate-truck" style="color: #39b54a"></i>
                    </div>
                </article>
                <!-- ARTICLE CELULAR -->
                <article class="article__productos">
                    <h3>Samsung Galaxy S10</h3>
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung S10">
                    <div class="Informacion__producto">
                        <!-- P DE DESCUENTO Y PRECIO CON SUS CLASES -->
                        <p class="precio">$70.500</p>
                        <p class="descuento">10% Off</p>
                        <!-- CAMIÓN -->
                        <i class="fa-solid fa-truck-fast animate-truck" style="color: #39b54a"></i>
                    </div>
                </article>
                <!-- ARTICLE SMART TV -->
                <article class="article__productos">
                    <h3>Smart TV Samsung</h3>
                    <img src="/images/img-tv-samsung-smart.jpg" alt="Smart Tv">
                    <div class="Informacion__producto">
                        <!-- P DE DESCUENTO Y PRECIO CON SUS CLASES -->
                        <p class="precio">$23.200</p>
                        <p class="descuento">5% Off</p>
                        <!-- CAMIÓN -->
                        <i class="fa-solid fa-truck-fast animate-truck" style="color: #39b54a"></i>
                    </div>
                </article>
            </div>
        </nav>
        <!-- Sección de ofertas -->
        <h2>Ofertas</h2>
        <!-- NAV PRODUCTOS OFERTAS -->
        <nav class="productos__ofertas">
            <!-- DIV DENTRO DEL NAV DE OFERTAS CONTENEDOR -->
            <div class="contenedor__productosOferta1">
                <article class="article__productos">
                    <h3>Cafetera Moulinex</h3>
                    <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera">
                    <div class="Informacion__producto">
                        <!-- P DE DESCUENTO Y PRECIO CON SUS CLASES -->
                        <p class="precio">$6.770</p>
                        <p class="descuento">40% Off</p>
                        <!-- CAMIÓN -->
                        <i class="fa-solid fa-truck-fast animate-truck" style="color: #39b54a"></i>
                    </div>
                </article>
                <!-- ARTICLE MACKBOOK -->
                <article class="article__productos">
                    <h3>Macbook Pro 2019</h3>
                    <img src="/images/img-macbook-pro-2019.jpg" alt="Macbook">
                    <div class="Informacion__producto">
                        <!-- P DE DESCUENTO Y PRECIO CON SUS CLASES -->
                        <p class="precio">$230.000</p>
                        <p class="descuento">20% Off</p>
                        <!-- CAMIÓN -->
                        <i class="fa-solid fa-truck-fast animate-truck" style="color: #39b54a"></i>
                    </div>
                </article>
                <!-- ARTICLE CELULAR -->
                <article class="article__productos">
                    <h3>Samsung Galaxy S10</h3>
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung S10">
                    <div class="Informacion__producto">
                        <!-- P DE DESCUENTO Y PRECIO CON SUS CLASES -->
                        <p class="precio">$70.500</p>
                        <p class="descuento">10% Off</p>
                        <!-- CAMIÓN -->
                        <i class="fa-solid fa-truck-fast animate-truck" style="color: #39b54a"></i>
                    </div>
                </article>
                <!-- ARTICLE SMART TV -->
                <article class="article__productos">
                    <h3>Smart TV Samsung</h3>
                    <img src="/images/img-tv-samsung-smart.jpg" alt="Smart Tv">
                    <div class="Informacion__producto">
                        <!-- P DE DESCUENTO Y PRECIO CON SUS CLASES -->
                        <p class="precio">$23.200</p>
                        <p class="descuento">5% Off</p>
                        <!-- CAMIÓN -->
                        <i class="fa-solid fa-truck-fast animate-truck" style="color: #39b54a"></i>
                    </div>
                </article>
            </div>
        </nav>
        <br>
        <div class="seccion__footer">
            <section>
                <i class="fa-solid fa-credit-card fa-beat-fade" style="color: #1259c3;"></i>
                <h2><b>Paga con tarjeta o en efectivo</b></h2>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos <br> de pago. ¡Y siempre es seguro!</p>
            </section>
            <section>
                <i class="fa-solid fa-gift fa-beat-fade" style="color: #1259c3;"></i>
                <h2><b>Envío Gratis desde $2.500</b></h2>
                <p>Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </section>
            <section>
                <i class="fa-solid fa-user-shield fa-beat-fade" style="color: #1259c3;"></i>
                <h2><b>Seguridad, de principio a fin</b></h2>
                <p>¿No te gusta? ¡Devuélvelo! En Mercado Liebre, no hay nada que no puedas hacer, <br> porque estás siempre protegido.</p>
            </section>
            <section>
                <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
            </section>
        </div>
    </main>
</body>
</html>
