/*Cont principal del footer*/
.seccion__footer{
    box-sizing: border-box;
    background-color: #ffff;
    padding:5px;
    text-align: center;
    margin:5px ;
    border:1px solid #ebebeb ;
    border-radius:2px;
    box-shadow: 0px 0px 20px rgb(100,100,100);
}
/*Seccion Dentro*/
.seccion__footer section{
    margin-bottom: 20px;
    text-align:center;
}
/*Iconos del footer*/
.seccion__footer i{
   color:#1259c3;
   font-size: 2rem;
   margin-bottom:10px;
}

     
@media (min-width:376px){
    .seccion__footer{
        width: 100%;
       margin-bottom: 50px;
       margin-left: 0;
       margin-right: 0;
       margin-top: 0;
    }
}

