/*Encabezado*/
    .header__home{
       background-color: #EAC926;
       background-size:cover;
     
    }

    /*Caja Logo Busq*/
.header__home__logo  {
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 0px;
}
/*img logo*/
.header__home__logo img{
    width: 50%;
}
/* Elementos barra Busqueda*/
.contenedor__barra-busqueda {
    width: 50%;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid #ebebee;
    padding: 2px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 4px;
    position: relative; 
}
.barra_busqueda {
    flex: 1;
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 10px;
    margin-left: 10px;
    width: calc(100% - 20px); 
}
/*Boton barra*/
button {
    border: 0;
    background-color: #ffffff;
    cursor: pointer;
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);

}
.contenedor_logo_barra_cuotas{
    width: 100%;
    padding: 0;
    margin: 0;
}
/* -----------------------------Aca termina la barra y el logo ----------------------------------------*/
    /*Cuotas*/
.header__txt__cuotas {
    text-align:center;
    margin:5px;
    color: #03264C;
}
/*Enlaces Naveg.*/
.header__lista1 ul li a , .header__lista2 ul li a{
    display: flex;
    text-decoration: none;
    color: #03264C;

  
}


/*Burger Mennu*/
.menu__hamburguesa{
    background-color: #03264C;
    color:white;
    border-radius: 10px;
    width: 35px;
    height: 35px;
    display:flex;
    align-items:center;
    justify-content:center;
    position:relative;
    margin-right: 10px;
    margin-left: 45%;
}


@media (max-width: 375px) {
.header__lista1 , .header__lista2 {
    display: none;
}
}
/* MEDIA QUERY TABLET HEADER */
@media (min-width:376px) {

.menu__hamburguesa{
    display: none;
}
.contenedor_logo_barra_cuotas{
    display:flex;
        width: 100%;
        justify-content: center;
        
    }
    .header__txt__cuotas {
        margin-top: 50px;
     }
     
     .contenedor__listas1y2 ul  {
        list-style: none;
        display: flex;
        
     }
     .contenedor__listas1y2 ul li {
        display: flex;
        justify-content: space-around;
     }
 
.contenedor__listas1y2 { 
        display: flex;
        margin-left: 10px;
        align-items: center;
       justify-content: space-between;
       margin: 15px 20px;

     }
     .header__lista1 ul , .header__lista2 ul{
        gap:20px
     }
     
    
}


/* MEDIA QUERY DESKTOP HEADER */
@media (min-width:768px){
    .menu__hamburguesa{
        display: none;
    }
    .contenedor_logo_barra_cuotas{
    display:flex;
        width: 100%;
        justify-content: center;
        
    }
    .header__txt__cuotas {
       margin-top: 50px;
    }
    .header__home__logo img{
        padding: 10px;
    }
}
